set clipboard=unnamed
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap j gj
nnoremap k gk
" nnoremap gs :action GotoSuperMethod<CR>
" nnoremap gb :action Back<CR>
" nnoremap gf :action Forward<CR>
