# Default config
# https://starship.rs/config/#prompt

scan_timeout = 10
command_timeout = 500

format = """
$username\
$hostname\
$localip\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$terraform\
$aws\
$env_var\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$time\
$status\
$os\
$container\
$shell\
$character"""

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

[directory]
read_only = " "
truncation_length = 8
truncate_to_repo = true

[hostname]
ssh_only = true
format = "[$hostname]($style): "
style = "green"
disabled = false

[username]
style_user = "green"
show_always = true
disabled = true

[git_metrics]
disabled = true

[git_status]
ahead = "⇡"
behind = "⇣"

[kubernetes]
disabled = true

[docker_context]
disabled = true

[buf]
disabled = true

[terraform]
disabled = true

[hg_branch]
disabled = true

[aws]
force_display = false
