# Default config
# https://starship.rs/config/#prompt

# Reduce prompt update frequency
scan_timeout = 10
command_timeout = 1000

format = """
$username\
$hostname\
$localip\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$terraform\
$aws\
$env_var\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$time\
$status\
$os\
$container\
$shell\
$character"""

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

[directory]
read_only = " ï ½"
truncation_length = 100
truncate_to_repo = true

[hostname]
ssh_only = true
format = "[$hostname]($style): "
style = "green"
disabled = false

[username]
style_user = "green"
show_always = true
disabled = true

[git_metrics]
disabled = true

[aws]
force_display = false

# [custom.git_name]
# when = false
# require_repo = true
# command = 'git config --get user.name'
# symbol = ''
